{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semicolons": true,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  // "requirePragma": true,
  // "insertPragma": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "strict"
}
