@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

html.dark {
  $border-style: #36363a;
  $color-white: #fff;
  --content-bgc: #141414;
  --box-bgc: #141414;
  --box-shadow: 0 1px 20px -6px rgba(255, 255, 255, 0.406);
  --boxHoverShadow: 0.5vw 0.5vw 1.1vw rgba(0, 0, 0, 0.3);
  --settingColor: #fff;
  --fontNormal: #fff;
  background-color: #141414;
  border: 1px solid border-style !important;

  --el-bg-color: #141414;
  color: #f2f2f2cc !important;
  .el-main {
    background: #020409;
  }
  .title {
    background-color: #141414;
    color: #fafafa;
    border-bottom-color: $border-style;
  }
}
