@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-hsans: 'HanSansSC';
  --font-Maoken: 'Maoken';
  --color-dark-border: var(--color-border);
  --color-dark-bg: var(--color-background);
  --color-dark-sec-bg: var(--color-border);
}
@layer base {
  .dark {
    --color-border: #36363a;
    --color-background: #141414;
  }
}
