@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-hsans: 'HanSansSC';
  --font-Maoken: 'Maoken';

  --color-base-background: var(--base-background);
  --color-base-border: var(--base-border);
  --color-content-bg: var(--content-bg);
}

:root {
  --base-background: #ffffff;
  --content-bg: #ffffff;
  --base-border: transparent;
}

.dark {
  --base-background: #141414;
  --base-border: #36363a;
  --content-bg: #1c1e23;
}
