.text-ellipsis[data-v-b870505f]{max-width:100%;display:inline-block;overflow:hidden}.text-ellipsis[data-v-b870505f]:not(.text-ellipsis-line-clamp){white-space:nowrap;vertical-align:bottom;text-overflow:ellipsis}.maxWidth{max-width:400px}
